# Optimal high frequency trading with limit and market orders

In [1]:
# Importing necessary modules
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
DATA_FOLDER = "data/tickhistory_sample"

In [3]:
!ls data/tickhistory_sample/

GOOG_Quote_2022_01_03.txt        MSFT_Trade_2022_01_03.txt
GOOG_Trade_2022_01_03.txt        file_format_details.txt
MSFT_Quote_2022_01_03.txt        tick_history_ticker_coverage.txt

## Imports

In [13]:
TICKER = "GOOG"

In [21]:
# Importing trades dataset
trades = pd.read_csv(filepath_or_buffer=f"{DATA_FOLDER}/{TICKER}_Trade_2022_01_03.txt", 
            names=["timestamp", "price", "volume", "exchange_code", "trade_conditions"], 
            index_col="timestamp", 
            na_values=np.NaN
           )
trades.head()

                              price  volume  exchange_code trade_conditions
timestamp
2022-01-03 04:00:00.353247  2892.00       1              7              E-B
2022-01-03 04:00:00.353625  2892.00       1              7              E-B
2022-01-03 04:00:00.362785  2898.01       1              7              E-B
2022-01-03 04:00:00.362947  2905.00       1              8              E-B
2022-01-03 04:00:02.422493  2905.00       4              8              E-B

**Structure**:
- **`timestamp`**
- **`price`**
- **`volume`**
- **`exchange_code`**
- **`trade_conditions`**

In [22]:
# Importing quotes dataset
quotes = pd.read_csv(filepath_or_buffer=f"{DATA_FOLDER}/{TICKER}_Quote_2022_01_03.txt", 
            names=["timestamp", "bp", "bq", "be", "ap", "aq", "ae"], 
            index_col="timestamp", 
            na_values=np.NaN
           )
quotes.head()

                              bp   bq  be       ap   aq  ae
timestamp
2022-01-03 04:00:00.352  2890.59  100   8  2915.00  100   7
2022-01-03 04:00:01.220  2890.59  100   8  2917.86  100   8
2022-01-03 04:05:15.912  2894.21  100   8  2908.70  100   7
2022-01-03 04:05:15.923  2894.21  100   8  2915.00  100   8
2022-01-03 04:11:51.703  2895.20  100   1  2915.00  100   8

**Structure**:
- **`timestamp`**
- **`bp`**: best bid price $\leadsto b(t)$
- **`bq`**: best bid volume (quantity/size)
- **`be`**: best bid exchange code
- **`ap`**: best ask price $\leadsto a(t)$
- **`aq`**: best ask volume (quantity/size)
- **`ae`**: best ask exchange code